:root{
    --white: #fff;
    --black: black;
    --light-gray: rgb(134, 134, 134);
    --blue: rgb(81, 200, 255);
    --light-blue: rgb(158, 229, 231);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    height: 100%;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    width: 100%;

    position: fixed;
    box-shadow: 0 2px rgb(99, 99, 00, 0.116);
    background: var(--white);
}

.menu a{
    text-decoration: none;
    color: var(--black);
}

.menu ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu img{
    width: 6rem;
    height: 6rem;   
}

section{
    top: 6rem;

    position: absolute;
    bottom: 2rem;

    padding: 0 1rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--light-blue);
}

.right-side img{
    position: relative;
    overflow: hidden;
}

.left-side{
    display: flex;
    flex-direction: column;
    height: 60%;

    align-items: center;
    justify-content: space-evenly;
}

.titulo-principal{
    text-align: center;
}

.left-side p{
    text-align: justify;
    position: relative;

    width: 70%;
}

@media (max-width: 399px){
    .menu ul{
        display: none;
    }

    section{
        top: 0;
    }
}

@media (max-width: 700px){
    .logo{
        display: none;
    }
    .menu{
        justify-content: space-evenly;
        margin: 0;
    }
    .menu ul{
        gap: 2rem;
        height: 6rem;
    }
    .right-side{
        display: none;
    }
}

@media (max-width: 1200px){
    .right-side{
        display: none;
    }
    .left-side{
        padding: 3rem;
    }
    .left-side p{
        position: relative;
        width: 80%;
        text-align: center;
    }
}
